body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1
{
    font-size: 50px;
}
.orange-colour{ color: orange;}
.experiance-area
{
    display: flex;
    margin-bottom: 150px;
}
.half
{
    width: 50%;
    padding-left: 2em;
}
   .half img{
       width: 80%;
       padding-left: 50px;
   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;

}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
}

