body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1
{
    font-size: 50px;
}
.orange-colour{ color: orange;}
.experiance-area
{
    display: flex;
    margin-bottom: 150px;
}
.half
{
    width: 50%;
    padding-left: 2em;
}
   .half img{
       width: 80%;
       padding-left: 50px;
   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;

}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
}
.background{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.sado{
    box-shadow: 10px 10px 40px gray;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 50px;
    border-radius: 10px;
}
#fullstack{
    border-left: solid 7px;
    border-image: linear-gradient(blue, cyan );
    border-image-slice: 6;
}
#babyweb{
    border-left: solid 7px;
    border-image: linear-gradient(rgb(226, 77, 7), rgb(179, 209, 5) );
    border-image-slice: 6;
}
footer p{
    text-align: center;
}


